{% extends "layouts/base.twig" %}
{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" type="text/css" href="/public/index-page.css" />
{% endblock %} 
{% block title %}Variants Backend{% endblock %}
{% block main_content %}
    <h2>About {{variant.title}}</h2>
    <ul>
        <li>
            <label>ID: </label> {{ variant.id}}
        </li>
        <li>
            <label>Name: </label> {{ variant.title}}
        </li>
        <li>
            <label>Product: </label> {{ product.title}}
        </li>
        <li>
            <label>Price: </label> ${{ variant.price}}
        </li>
        <li>
            <label>Slug: </label> {{ variant.slug}}
        </li>
        <li>
            <label>Inventory: </label> {{ variant.inventory}}
        </li>
        <li>
            <label>Description: </label> {{ variant.description}}
        </li>
    </ul>
    <p>
        <a href="/variants/{{ variant.id }}/edit">Edit</a> | <form method="POST" action="/variants/{{ variant.id }}/delete">
            <input type="submit" value="Delete">
        </form>
    </p>
    
{% endblock %}
