{% extends "layouts/base.twig" %}
{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" type="text/css" href="/public/index-page.css" />
{% endblock %} 
{% block title %}Products Backend{% endblock %}

{% block main_content %}
    <h1>All Products</h1>
    {% for product in products %}
        <li>
            Name: {{ product.title }} |
            Price: ${{ product.price }} | 
            Published: {{ product.is_published ? 'Yes' : 'No'}}
            <br>
            <button><a href="/products/{{ product.id }}">Edit</a> </button>
            <form method="POST" action="/products/{{ product.id }}/delete">
                <input type="submit" value="Delete">
            </form>
        </li>
    {% endfor %}
    <br>
    <button><a href="/products/new">Add New Product</a></button>
{% endblock %}
