{% extends "layouts/base.twig" %}

{% block main_content %}
    <h1>All Products</h1>
    {% for product in products %}
        <li>
            Name: {{ product.name }} |
            Price: {{ product.price }} | 
            Description: {{ product.description }} | 
            <br>
            <button><a href="/products/{{ product.id }}">Edit</a> </button>
            <form method="POST" action="/products/{{ product.id }}/delete">
                <input type="submit" value="Delete">
            </form>
        </li>
    {% endfor %}
    <br>
    <button><a href="/products/new">Add New Product</a></button>
{% endblock %}
