{% extends "layouts/base.twig" %}
{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" type="text/css" href="/public/index-page.css" />
{% endblock %} 
{% block title %}Products Backend{% endblock %}

{% block main_content %}
    <h2>About {{product.title}}</h2>
    <ul>
        <li>
            <label>ID: </label> {{ product.id}}
        </li>
        <li>
            <label>Title: </label> {{ product.title}}
        </li>
        <li>
            <label>Price: </label> {{ product.price}}
        </li>
        <li>
            <label>Slug: </label> {{ product.slug}}
        </li>
        <li>
            <label>Description: </label> {{ product.description}}
        </li>
        <li>
            <label>Is Published: </label> {{ product.is_published}}
        </li>
        </ul>
        <div>
            <h3>Variants</h3>
            <ul>
                {% for variant in variants %}
                    <li>
                        <a href="/variants/{{ variant.id }}">{{ variant.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
         
        
    
    <p>
        <a href="/products/{{ product.id }}/edit">Edit</a> | <form method="POST" action="/products/{{ product.id }}/delete">
            <input type="submit" value="Delete">
        </form>
    </p>
    
{% endblock %}
